{% extends "base.html.jinja" %}

{% block title %} Welcome {%endblock %}

{% block main %}
<div class="container w-25 pt-5">
    <h1>Welcome there!</h1>
    <p>
        <span>This is free casino website. Madden just for learning / fun.</span>
        <span>Author - Kirill Zhosul (<a href="https://kirillzhosul.github.io/">@kirillzhosul</a>)</span>
    </p>
    <h3>Avaliable Games</h3>
    <p>
        <a href="/games/dice/">Dice</a>
    </p>
</div>
{%endblock %}