{% extends "base.html.jinja" %}

{% block title %} Sign-Up {%endblock %}

{% block include %}
<script src="{{ url_for('static', filename='js/authentication/signup.js') }}"></script>
{% endblock %}

{% block main %}
<div class="container w-25 pt-5">
    <h1>Sign-Up</h1>
    <p>Please create new account to continue using website with all features!</p>
    <hr>
    <div id="ajax-message"></div>
    <form onsubmit="signup(event)" class="pt-3">
        <div class="container w-75">
            <div class="row">
                <div class="col">
                    <input type="text" id="signup-username" name="username" placeholder="Username" class="form-control">
                </div>
                <div class="col">
                    <input type="text" id="signup-email" name="email" placeholder="Email" class="form-control">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col">
                    <input type="password" id="signup-password" name="password" placeholder="Password" class="form-control">
                </div>
                <div class="col">
                    <input type="password" id="signup-password-confirmation" name="password-confirmation" placeholder="Password Confirmation" class="form-control">
                </div>
            </div>
        </div>
        <div class="container w-25 pt-3">
            <input type="submit" class="btn btn-primary form-control" value="Sign-Up">
        </div>
    </form>

</div>
{%endblock %}